.sidenav {
  position: absolute;
  top:0;
  /* bottom: 0; */
  left:0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-height: 99vh;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}
.sidenav div {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.tronbox {
  border-radius: 3px;
  border: 1px #80EAFF solid;
  box-shadow: 0 0 3px #22AFCA, inset 0 0 3px #22AFCA;
}
.content {
  color: white;
  background-color: rgba(0,0,0,0.7);
}
img {
  height: 24px;
  width: 24px;
  margin: 3px;
}
.choices {
  overflow: auto;
  border: 1px #80EAFF solid;
  border-top: 0px;
  margin: 0 5px 5px;
  padding-bottom: 5px;
}
ul {
  text-align: left;
}
li {
  cursor: pointer;
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 3px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background:  #80EAFF; /*#22AFCA;*/
  border-radius: 1px;
}