.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.status {
  position: absolute;
  top:0;
  padding: 5px;
  color:#80EAFF;
  background-color: rgba(0,0,0,0.7);
  pointer-events: none;
  z-index: 1;
}

.msg {
  position: absolute;
  top:20%;
  padding: 5px;
  color:#80EAFF;
  background-color: rgba(0,0,0,0.7);
  border-radius: 3px;
  border: 1px #80EAFF solid;
  box-shadow: 0 0 3px #22AFCA, inset 0 0 3px #22AFCA;
  z-index: 3;
}
.msg:hover {
  color:#80EAFF;
  background-color: rgba(0,0,0,0.7);
  box-shadow: 0 0 6px #22AFCA, inset 0 0 12px #22AFCA;
}

