.abs {
  position: absolute;
  bottom:5px;
  right:5px;
}
.content {
  color:white;
  background-color: rgba(0,0,0,0.7);
  padding: 5px;
  pointer-events: none;
  z-index: 2;
}
.tronbox {
  border-radius: 3px;
  border: 1px #80EAFF solid;
  box-shadow: 0 0 3px #22AFCA, inset 0 0 3px #22AFCA;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img{
  max-width: 50px;
  max-height: 50px;
}
.badge {
  position: relative;
  bottom: 25px;
}
.bold {
  font-weight: bold;
}